* {
    font-size: large;
}

.header, .footer, .header ul, .header li, body, .body, .row, .row li, .row button, .left, .project, .project-right {
    display: flex
}

.header, .project, .footer, .header ul, body, .row li, .footer p {
    margin: 0;
}


/* Light Mode Color Scheme CSS */
.header li, .left-body p, .row button, .right-body, .menu-button, .project, .project img {
    border-color: #006D77;
}
.header li, .left-body p, .row button, .right-body, .menu-button, .project {
    background-color: #83C5BE;
}
body, .body {
    background-color: #EDF6F9;
}

.header li:hover, .menu-button:hover, ul.row li.selected button, .row button:hover {
    background-color: #FFDDD2;
}

.header li:hover, .menu-button:hover, .row button:hover, .light ul.row li.selected button {
    border-color: #E29578;
}
.overlay a, .light.row button:hover, .light button.menu-button:hover, .light ul.row li.selected button, .header li:hover {
    color: #E29578;
}

.title, .footer p {
    color: #83C5BE;
}

.header li, a, .overlay a:hover, .overlay a:focus, .body.light p, .light button, .light button.menu-button {
    color: #006D77;
}

.header, .footer {
    background-color: #006D77;
    gap: 24px;
    justify-content: space-between;
}


.header ul {
    height: 100%;
}

.header li{
    font-size: larger;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    font-size: medium;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}

.left-body {
    width: 100%;
}

.left-body p{
    margin: 16px;
    border-style: solid;
    border-radius: 8px;
    width: 100%;
}

.left-info {
    display: flex;
}

.left-body p, .right-body p {
    margin: 12px;
    margin-top: 0;
    padding: 5px;
}

.row {
    margin: 12px;
    gap: 4px;
    width: 500px;
}


.row, .row li {
    padding: 0;
    margin-bottom: 0;
    flex-grow: 1;
}

.shown {
    text-decoration: underline;
}
.row button {
    flex: 1;
    justify-content: center;
    border-style: solid;
    padding: 5px;
    border-radius: 8px;
    width: 150px;
}

.row li.selected button {
    width: 200px;
}

.right-body, .project {
    margin: 12px;
    border-style: solid;
    height: max-content;
    border-radius: 8px;
}

.project {
    padding: 8px;
    align-items: center;
}

.project-right {
    margin: 8px;
    padding: 16px;
    flex-direction: column;
    line-height: 24px;
}
.menu-button {
    border-style: solid;
    color: #243E36;
    padding: 12px;
    size: 24px, auto;
    border-radius: 8px;
}

h2, h2 a{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.title {
    font-weight: bolder;
    font-size: x-large;
    margin: 4px;
    padding: 0px;
}

.left {
    gap: 16px;
    align-items: center;
}

.footer {
    margin-top: auto;
    justify-content: center;
}

.left-body img {
    max-width: 50%;
    height: 50%;
}

.project img {
    max-width: 25%;
    height: 25%;
    border-style: solid;
}

#myNav {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: #EDF6F9E3; 
    overflow-x: hidden; 
}
  
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;  
}
  
.overlay .closebtn {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 24px;
}

.list-text {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Dark Mode Color Scheme CSS */
.header.dark li, .left-body.dark p, .right-body.dark, .menu-button.dark, .row.dark button, .project.dark{
    background-color: #676F9D;
}
.header.dark li, .header.dark a, .menu-button.dark, .body.dark p, .row.dark button, .dark a {
    color: #2D3250;
}

.header.dark li, .row.dark button, .right-body.dark, .menu-button.dark, .left-body.dark p, .project.dark {
    border-color: #2D3250;
}
.header.dark li:hover, .menu-button.dark:hover {
    border-color: #676F9D;
}

.header.dark li:hover, .menu-button.dark:hover, .row.dark button:hover, ul.row.dark li.selected button{
    background-color: #F9B17A;
}
body.dark, .body.dark {
    background-color: #424769;
}
.title.dark, .footer.dark p{
    color: #F9B17A;
}
.header.dark , .footer.dark {
    background-color: #2D3250;
}
.overlay.dark a:hover, .overlay.dark a:focus {
    color: #FFFFFF;
}
.overlay.dark {
    background-color: #424769E3; 
}



.overlay.dark a {
    color: #F9B17A;
}